/wp-content/ai1wm-backups/
/wp-content/languages/
/wp-content/plugins/akismet/
/wp-content/upgrade/
/wp-content/uploads/
/wp-includes/
/wp-admin/
/wp-content/themes/adventure-tours/
/wp-content/themes/twentynineteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentysixteen/
/wp-content/themes/twentytwenty/
/wp-content/themes/wp-bootstrap-4.old/
/wp-content/updraft/
/wp-content/themes/wp-bootstrap-4/404.php
/wp-content/themes/wp-bootstrap-4/apptemplate.php
/wp-content/themes/wp-bootstrap-4/archive.php
/wp-content/themes/wp-bootstrap-4/comments.php
/wp-content/themes/wp-bootstrap-4/editor-style.css
/wp-content/themes/wp-bootstrap-4/footer.php
/wp-content/themes/wp-bootstrap-4/front-page.php
/wp-content/themes/wp-bootstrap-4/header.php
/wp-content/themes/wp-bootstrap-4/index.php
/wp-content/themes/wp-bootstrap-4/page.php
/wp-content/themes/wp-bootstrap-4/readme.txt
/wp-content/themes/wp-bootstrap-4/rtl.css
/wp-content/themes/wp-bootstrap-4/screenshot.jpg
/wp-content/themes/wp-bootstrap-4/search.php
/wp-content/themes/wp-bootstrap-4/searchform.php
/wp-content/themes/wp-bootstrap-4/sidebar.php
/wp-content/themes/wp-bootstrap-4/single.php
/wp-content/themes/wp-bootstrap-4/style.css
/wp-content/themes/wp-bootstrap-4/woocommerce.css
/wp-content/debug.log
/index.php
/license.txt
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-content/plugins/
